# Sublime Text files
/*.sublime-project
*.sublime-workspace

# NPM modules (no need to distribute via Git...)
node_modules/
coverage/
.nyc_output/

dist/

npm-debug.log

.coveralls.yml

.env

*.spec.js
*.js.map
src/**/*.js*
src/**/*.d.ts
index.js*
index.d.ts
