{
    "extends": "@istanbuljs/nyc-config-typescript",
    "include": [
      "src/**/*.ts"
    ],
    "exclude": [
      "**/*.d.ts",
      "src/**/*.spec.*",
      "src/hue-test-constants.*"
    ],
    "extension": [
      ".ts"
    ],
    "require": [
      "ts-node/register"
    ],
    "reporter": [
      "html",
      "text"
    ],
    "instrument": true,
    "all": true
}